// Variables

// Main color
$primary-color: #F2F1EC;//#09ab92;//#15ab92;

// Anchor color
$secondary-color: #ecf0f1;//#00cdff;

// Font color
$font-color: #63625A;//#fff ;

//navbar and intro Font color
$navintrofont-color: #4e5051;//#fff ;

$navbar-text-shadow: false;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: #4e5051; //$navintrofont-color;//$font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
